body {
  background-image: url("images/pexels-jess-bailey-designs-1097930_2.jpg");
  height: 100%;


  .container-top{
    display: flex;
    justify-content: space-around;


    #welcome{
      width: auto;
      font-size: 65px;
      color: rgb(231,199,187);
      margin-top: 25px;
      margin-bottom: 50px;
      text-align: center;
      text-shadow: 2px 2px dimgrey;
    }

    #allUsers{
      background-color:rgb(244,249,255);
      width: 350px;
      font-size: 20px;
      border-radius: 50px;
      text-align: center;
      color: rgb(231,199,187);
      overflow: auto;

    }
  }


  .container-text{
    display: flex;
    flex-direction: column;
    margin-left: 400px;

    h1{
      color:rgb(228,182,166);
      background-color: rgb(240,244,255);
      margin-left: 15px;
      margin-right: 15px;
    }

    .textfield {
      display: flex;
      justify-content: flex-start;


      .sentItems{
        margin-right: 100px;
        margin-left: 10px;
      }
      #input{
        padding-left: 10px;
        margin-left: 5px;
        height: 250px;
        width: 400px;
        border-radius: 25px;
        background-color: rgb(240,249,255);
        border-color: rgb(231,199,187);


      }
      .inputButtons{
        margin-top: 30px;
        .button{
          border-radius: 25px;
          background-color: rgb(244,249,255);
          border-color: rgb(231,199,187);
        }
      }
      #target{
        padding-left: 10px;
        height: 300px;
        width: 500px;
        word-wrap: break-word;
        overflow: auto;
        border-radius: 25px;
        background-color: rgb(231,199,187);
        border-style: solid;
        border-color: dimgrey;
        color: dimgrey;

      }

    }



  }





}






