body {
  background-color: wheat;

  .container-input{
    display: flex;
    flex-direction: column;

    .inputfield {
      #input{
        height: 100px;
        width: 300px;
      }

    }
    .inputButtons{
      margin-top: 30px;
    }


  }





}






